#include "resource.h"
#include <windows.h>

IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 280, 220
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT "Sensitivity:", -1, 10, 10, 80, 15
EDITTEXT IDC_EDIT_SENSITIVITY, 100, 10, 50, 20, ES_AUTOHSCROLL

LTEXT "Bar Width:", -1, 10, 35, 80, 15
EDITTEXT IDC_EDIT_BARWIDTH, 100, 35, 50, 20, ES_AUTOHSCROLL

LTEXT "Spacing:", -1, 10, 60, 80, 15
EDITTEXT IDC_EDIT_SPACING, 100, 60, 50, 20, ES_AUTOHSCROLL

LTEXT "Bar Count:", -1, 10, 85, 80, 15
EDITTEXT IDC_EDIT_BARCOUNT, 100, 85, 50, 20, ES_AUTOHSCROLL

LTEXT "Bar Color (hex #RRGGBB):", -1, 10, 110, 150, 15
EDITTEXT IDC_EDIT_BARCOLOR, 160, 110, 80, 20, ES_AUTOHSCROLL

LTEXT "Window Pos Y:", -1, 10, 135, 80, 15
EDITTEXT IDC_EDIT_POSY, 100, 135, 50, 20, ES_AUTOHSCROLL

CONTROL "Topmost", IDC_BUTTON_TOPMOST, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 160, 80, 20

PUSHBUTTON "Apply", IDC_BUTTON_APPLY, 230, 10, 60, 20


LTEXT "Window Pos X:", -1, 10, 160, 80, 15
EDITTEXT IDC_EDIT_POSX, 100, 160, 50, 20, ES_AUTOHSCROLL

LTEXT "Window Width:", -1, 10, 185, 80, 15
EDITTEXT IDC_EDIT_WIDTH, 100, 185, 50, 20, ES_AUTOHSCROLL

LTEXT "Window Height:", -1, 160, 185, 80, 15
EDITTEXT IDC_EDIT_HEIGHT, 240, 185, 50, 20, ES_AUTOHSCROLL

END
