#include "resource.h"
#include <windows.h>


IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 250, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Visualizer Settings"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
LTEXT           "Sensitivity:", IDC_STATIC, 10, 10, 50, 10
EDITTEXT        IDC_EDIT_SENSITIVITY, 70, 10, 50, 14, ES_AUTOHSCROLL | ES_NUMBER

LTEXT           "Bar Width:", IDC_STATIC, 10, 30, 50, 10
EDITTEXT        IDC_EDIT_BARWIDTH, 70, 30, 50, 14, ES_AUTOHSCROLL | ES_NUMBER

LTEXT           "Spacing:", IDC_STATIC, 10, 50, 50, 10
EDITTEXT        IDC_EDIT_SPACING, 70, 50, 50, 14, ES_AUTOHSCROLL | ES_NUMBER

LTEXT           "Bar Count:", IDC_STATIC, 10, 70, 50, 10
EDITTEXT        IDC_EDIT_BARCOUNT, 70, 70, 50, 14, ES_AUTOHSCROLL | ES_NUMBER

LTEXT           "Bar Color:", IDC_STATIC, 10, 90, 50, 10
EDITTEXT        IDC_EDIT_BARCOLOR, 70, 90, 70, 14, ES_AUTOHSCROLL

LTEXT           "Text Color:", IDC_STATIC, 10, 110, 50, 10
EDITTEXT        IDC_EDIT_TEXTCOLOR, 70, 110, 70, 14, ES_AUTOHSCROLL

LTEXT           "Position X:", IDC_STATIC, 10, 130, 50, 10
EDITTEXT        IDC_EDIT_POSX, 70, 130, 50, 14, ES_AUTOHSCROLL | ES_NUMBER

LTEXT           "Position Y:", IDC_STATIC, 10, 150, 50, 10
EDITTEXT        IDC_EDIT_POSY, 70, 150, 50, 14, ES_AUTOHSCROLL | ES_NUMBER

LTEXT           "Width:", IDC_STATIC, 10, 170, 50, 10
EDITTEXT        IDC_EDIT_WIDTH, 70, 170, 50, 14, ES_AUTOHSCROLL | ES_NUMBER

LTEXT           "Height:", IDC_STATIC, 10, 190, 50, 10
EDITTEXT        IDC_EDIT_HEIGHT, 70, 190, 50, 14, ES_AUTOHSCROLL | ES_NUMBER

CHECKBOX        "Always on Top", IDC_BUTTON_TOPMOST, 10, 210, 80, 10

DEFPUSHBUTTON   "Apply", IDC_BUTTON_APPLY, 10, 230, 50, 14
PUSHBUTTON      "Cancel", IDCANCEL, 70, 230, 50, 14
END